/*
https://colorswall.com/palette/290499
*/

:root {
    --main_bg_col: #006a4f;
    --detail_col: #d8d8d0;
    --keyboard_col: #232323;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main_bg_col);
    overflow: hidden;
}
button {
    cursor: pointer;
    border: 0;
}
.banner_cont {
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: var(--keyboard_col);
}
.banner_cont img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}
.full_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 2rem;
    width: 100%;
}

.content {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

.display_boxes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 8px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 2px solid var(--detail_col);
    background-color: var(--main_bg_col);
    color: var(--detail_col);
    font-size: 1.75rem;
}
.keyboard_container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}
.col1 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    gap: 4px;
}
.col1:nth-child(2),
.col1:nth-child(3) {
    grid-template-columns: repeat(9, 1fr);
    padding: 0 1.25rem;
}
.col1:nth-child(3) {
    padding: 0;
}
.key {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 2px;
    background-color: var(--keyboard_col);
    color: white;
    border-radius: 0.2rem;
}

.transition {
    transition: all 1s;
    transform: rotateX(360deg);
}
.green {
    background-color: #58a351;
}
.yellow {
    background-color: #b59f3b;
}
.gray {
    background-color: #404041;
}
